
.font-family{
    font-family: 'Open Sans', sans-serif; 
}

.screen-background{
    background-color: #2EDF84;
}

/** Size of modal */
.desktop-11-modal-width{
    max-width: 92%;
}
.desktop-12-modal-width{
    max-width: 40%;
}

.close-btn>a{
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 25px;
    color: #fff;
}

.min-vh-98{
    min-height: 94vh !important;
}

.modal-content{
    border-radius: 40px;
}
.center {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
}

.container-main{
    margin: auto 0px;
}
.container-width-50{
    width: 50%;
}

/*.container-width-80{
    width: 80%;
}*/

.icon-container > img{
    width: 120px;
}
.login-title{
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 25px;
    font-size: 25px;
    line-height: 34px;
}
.title-icon{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    padding: 4px;
}
.data-container{
    width: 65%;
    margin: 0 auto;
}

.login-description{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160.4%;
    text-align: center;
    letter-spacing: 0.07em;
    color: #FFFFFF;
}

.form-section-list-items{
    margin: 0;
}
.form-section-list-item{
    list-style: none;
    display: inline-block;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding:2px 10px;
}
.form-section-list-item>a{
    text-decoration: none;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.11em;
}

.form-control{
    text-indent: 10px;
}
.form-control::placeholder {
    font-weight: 300;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    color: #7D7D7D;
}

.inner-addon{
    position: relative;
}
.inner-addon>.fas{
    position: absolute;
    padding: 10px;
    pointer-events: none;
    color: #7D7D7D;
    right: 10px;
}

.form-checkbox{
    height: 18px;
    width: 18px;
    background: rgba(255, 255, 255, 0.55);
}
.form-checkbox__label{
    font-style: normal;
    font-weight: 500;
    font-size: 14.4px;
    line-height: 17px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.form-checkbox__label>a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.form-checkbox__label:hover{
    font-weight: bold;
}
.forgot-link{
    font-style: normal;
    font-weight: 500;
    font-size: 14.4px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 8%;
}
.forgot-link:hover{
    font-weight: bold;
    color: #fff;
}

.custom-button{
    background-color: #ffffff;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 21px;
    letter-spacing: 0.11em;
    color: #708EFF;
    box-shadow: 3px 3px 10px 0px gray;
}
.custom-button:focus{
    box-shadow: 0px 0px 0px 0px;
}
.custom-button>img{
    height: 15px;
    width: 15px;
}

.text-left{
    text-align: left;
}

/**--START-- separator-- */
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 12.6px;
    line-height: 15px;
    color: rgba(255, 255, 255, 0.6);
}
  
.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
  
.separator:not(:empty)::before {
    margin-right: .25em;
}
  
.separator:not(:empty)::after {
    margin-left: .25em;
}
/**--END-- separator-- */

.mb-20{
    margin-bottom: 15px;
}
.mb-40{
    margin-bottom: 25px;
}
.mb-right-40{
    margin-right: 40px;
}

/** --START-- Button click animation */
.ripple-btn {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color:#2EDF84;/* rgba(255, 255, 255, 0.7); */
  }
  
  @keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }
/** --END- Button click animation */


/**START--Responsive*/
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .container-position{
        width: 50%;
    }
    .desktop-12-modal-width {
        max-width: 50%; 
    }
    .data-container{
        width: 100%;
    }
    .container-main{
        margin: 20px 0px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .container-position{
        width: 60%;
    }
    .desktop-12-modal-width {
        max-width: 60%; 
    }
    .data-container{
        width: 100%;
    }
    .container-main{
        margin: 20px 0px;
        width: 100% !important;
    }
    .login-title{
        font-size: 20px;
    }
    .login-description,
    .form-section-list-item>a{
        font-size: 14px;
    }
    .form-checkbox__label,
    .forgot-link{
        font-size: 11px;
    }
    .custom-button{
        font-size: 13px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .container-position{
        width: 80%;
    }
    .desktop-12-modal-width {
        max-width: 70%; 
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container-position{
        width: 100%;
    }
    .desktop-12-modal-width {
        max-width: 100%;
    }
    .login-title{
        font-size: 16px;
    }
    .login-description,
    .form-section-list-item>a{
        font-size: 12px;
    }
    .form-checkbox__label,
    .forgot-link{
        font-size: 10px;
    }
    .custom-button{
        font-size: 9px;
    }
}






