/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .desktop-11-modal-width{
        /** In desktop-11 */
        max-width: 92% !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .desktop-11-modal-width{
        /** In desktop-11 */
        max-width: 94% !important;
    }
}


@media only screen and (max-width: 768px) {
    .login-container {
      min-height: 850px;
    }

    .login-r-box {
        width: 100%;
        min-height: 850px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .login-r-box .col-md-12.l-box {
      display: initial;
    }

    .logo-wrap{
        width: 100% !important;
        top: 30px !important;
        left: 0 !important;
        text-align: center !important;
    }
    
    .logo-wrap img{
        width:100px;
    }

    .form-box{
        width: 100%;
        position: relative;
        top: 100px;
    }
    .desktop-11-modal-width{
        /** In desktop-11 */
        max-width: 96% !important;
    }
}

/* Setting up width */
@media only screen and (max-width:600px) {
    .desktop-11-modal-width{
        /** In desktop-11 */
        max-width: 100% !important;
    }
}

@media only screen and (max-width: 400px) {
    .desktop-11-modal-width{
        /** In desktop-11 */
        max-width: 100% !important;
    }
    .form-box{
        width: 280px;
    }
    .login-container h1{
        font-size: 19px;
    }
    .login-description{
        font-size: 12px;
    }
    .social-signin__other .archip-btn{
        font-size: 10px;
    }
    .desktop-11-container{
        margin-bottom: 20px;
        margin-top: 20px;
    }
}


/** Query for height */
@media only screen and (max-height: 700px) {
    .desktop-11-container{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .login-r-box{
        height: 700px;
    }
    .login-container{
        height: 700px;
    }
}